<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/SquidVSEel.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Squid VS Eel </h5>
      <li> Python</li>
      <li> Pygame</li>
      <p>After learning python in our first semest at University we were split into random groups and tasked with making a game using the Pygame library.</p>
      <a class="project-link" href="https://github.com/SnugglinBunny/comp150-desktop-game">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/Standby.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Standby </h5>
      <ul>
        <li> Unreal Engine 4</li>
        <li> C++</li>
      </ul>
      <p>Second semester we have been again split into random groups and tasked with building a game in unreal engine 4. We came up with the idea of a horror game where a domestic robot ai has turned on the player and wants to live.</p>
      <a class="project-link" href="#">unavailable</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <!--<img alt="mountains" src="{{ "/assets/img/SquidVSEel.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> ProjectVX </h5>
      <li> Unreal Engine 4</li>
      <li> C++</li>
      <p>This is my own little side project, I will be working on this throughout the duration of my time at University and hopefully by the end of the course I will have a feature filled game created entirely by myself. I belive this to be an excellent way for me to learn all about unreal while also broadening my skill set.</p>
      <a class="project-link" href="https://github.com/SnugglinBunny/ProjectVX">Check it out</a>
    </div>
  </div>
</div>
