<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/Cityscapez.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CityscapeZ </h5>
      <li> Unreal Engine 4 </li>
      <li> C++ </li>
      <p> In our final year we identified early on that we had no artists on our team and therefore we chose to use an app called Magicavoxel which allowed us to quickly create all the assets we needed but also locked us to a voxel art style. We were a small 5 person team consisting of two programmers, one animator, two designers.</p>
      <a class="project-link" href="https://defiantnarwhal.itch.io/the-witching-hour">Check it out</a>
    </div>
  </div>
  
    <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/Witch.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> The Witching Hour </h5>
      <li> Unreal Engine 4 </li>
      <li> C++ </li>
      <p>Second year we were split into teams again with people from various development paths and this is the game we created.</p>
      <a class="project-link" href="https://defiantnarwhal.itch.io/the-witching-hour">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/SquidVSEel.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Squid VS Eel </h5>
      <li> Python</li>
      <li> Pygame</li>
      <p>After learning python we were split into small groups and tasked with making a game using the Pygame library. This is made entirely in pygame with no extra libraries.</p>
      <a class="project-link" href="https://github.com/SnugglinBunny/comp150-desktop-game">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Standby" src="{{ "/assets/img/Standby.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Standby </h5>
      <ul>
        <li> Unreal Engine 4</li>
        <li> C++</li>
      </ul>
      <p>First year of university we were split into random groups and tasked with building a game in unreal engine 4. We came up with the idea of a horror game where a domestic robot ai has turned on the player and wants to live.</p>
      <a class="project-link" href="https://fingerguns.github.io/standby.github.io/">Check it out</a>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <!--<img alt="mountains" src="{{ "/assets/img/SquidVSEel.jpg" | prepend: site.baseurl }}" />-->
    </div>
    <div class="six columns">
      <h5> ProjectVX </h5>
      <li> Unreal Engine 4</li>
      <li> C++</li>
      <p>This is my own little side project, I will be working on this throughout the duration of my time at University and hopefully by the end of the course I will have a feature filled game created entirely by myself. I belive this to be an excellent way for me to learn all about unreal while also broadening my skill set.</p>
      <a class="project-link" href="https://github.com/SnugglinBunny/ProjectVX">Check it out</a>
    </div>
  </div>
</div>
